footer{
    display: flex;
    justify-content: space-around;
    
    padding: 2vw 8vw 2vw 8vw;
    background-color:  hsl(233, 26%, 26%);
    color:hsl(0, 0%, 98%);
    align-items: flex-start;
    
    div{
        width:100%;
    }
    .imgs{
        margin-top: 10px;
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        .social{
            margin-top:30px;
            width:100%;
            text-align: left;
            svg:hover{
                path{
                fill:hsl(136, 65%, 51%);}
                cursor: pointer;
            }
            #img{
                margin:5px;
            }
        }
    }
    .left{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        .cont{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        li{
            list-style: none;
            font-size: 13px;
            line-height: 30px;
            color:hsl(0, 0%, 98%);
            &:hover{
                color:hsl(136, 65%, 51%);
                cursor: pointer;
            }
        }
    }
    .right{
        margin-top: 10px;
        width:45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
       
    }
    button{
        margin-bottom: 20px;
    }
}