@import 'home';
@import 'header';
@import 'footer';
@import 'latest';
@import 'why';
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
*{
    font-family: 'Public Sans', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: clamp(12px,14px,18px);
}
body{
    overflow-x: hidden;
}
button{
    width:150px;
    height:39px;
    padding:0em 1em 0em 1em;
    border-radius: 40px;
    border:none;
    color:hsl(0, 0%, 98%);
    background-image: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
    font-weight: 700;
    font-family: 16px;
    cursor: pointer;
    transition: .2s ease-in-out;
    &:hover
    {
        opacity:0.7;
    }
}
h1{
    font-weight: 400;
    font-size: clamp(2rem,2.2rem,3rem);
    color: hsl(233, 26%, 24%);
}
h2{
    font-weight: 400;
    color: hsl(233, 26%, 24%);
}
h3:hover{
    color:hsl(136, 65%, 51%);
    cursor: pointer;
}

p{
    font-weight: 400;
    font-size: clamp(12px,14px,18px);
    color:hsl(233, 8%, 62%);
    line-height: 27px;
}
#x,
#bgm,
#phonem{
    
   
    display: none;
}
#bgm,
#phonem{
    position: absolute;
    top:-10%;
    left:0;
    width:100%;
    

}
#phonem{
    max-width: 600px;
    left:50%;
    transform: translateX(-50%);
}
#bgm{
    top:0;
}
#open{
    transition: .5s ease-in-out;
    
}
#close{
    display: none;
    transition: .5s ease-in-out;

}

@media screen and (max-width:800px){
    header{
        div,
        button{
            display: none;
        }
        #x{
            display: block;
            cursor: pointer;
        }
        .navigation{
            background: white;
            width:85%;

            transition: .5s ease-in-out;

            ul{
            display: flex;
            flex-direction: column;
            }
            position: absolute;
            top:10vh;
            margin-top: 10px;
            left:50%;
            transform: translateX(-50%);
            box-shadow: 0 0px 200px 30px black;
            z-index: -1;
            border-radius: 10px;
        }
        nav ul li{
           height: 50px;
        }
        nav ul a{
        color:black;
        }
        ul{
            padding:1em 0;
        }
    }
    #bg,
    #phone{
        display: none;
    }
    
    .home{.cont{
        width:100%;
        margin-top: 600px;
    }}
    
    #bgm,
    #phonem{
        display: block;
        
    }
    
    .home{
        flex-direction: column-reverse;
    }
}
@media screen and (max-width:590px){
    body{
        text-align: center;
    }
    .home{

        .cont{
            margin-top: 0;
            margin-top:120%;
        }
    }
}
@media screen and (max-width:840px){
    footer{
        flex-direction: column;
        div{
            text-align: center;
        flex-direction: column;
          justify-content: center;
          align-items: center;
          width:100%;  
        }
        .right{
            width:100%;
            display: flex;
            // margin:0;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .imgs{
            display: flex;
            justify-content: center;
            text-align: center;
            position: relative;
            // background-color: blue;
            #svg{
                position: absolute;
                top:0;
                left:50%;
                transform: translateX(-50%);
            }
            .social{
                display: flex;
                flex-direction: row;
                margin-top:30px;
                margin-bottom: 50px;
            }
            
        }
    }
}
